.container {
  flex: 1;
  background-color: blue;
}

.headline {
  flex: 0.5;
  text-align: center;
  color: white;
  font-size: 80px;
}

.settings {
  display: flex;
  flex: 0.15;
  flex-direction: row;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.settings.modes {
  justify-content: space-around;
}

.settings.modes i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .5s;
}

.settings.modes i.active {
  opacity: 1;
}

.leftSetting {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}

.leftSettingIcon {
  color: white;
  font-size: 50px;
}

.middleSetting {
  display: flex;
  flex: 0.6;
  align-items: center;
  justify-content: center;
}

.middleSettingText {
  font-size: 50px;
  color: white;
}

.rightSetting {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
}

.rightSettingIcon {
  color: white;
  font-size: 50px;
}

.play {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  position: relative;
}

.auth {
  position: absolute;
  left: 10px;
}

.authIcon {
  color: #eee;
  font-size: 30px;
}

.playIcon {
  color: white;
  font-size: 60px;
}

.record {
  flex: 0.1;
  text-align: center;
  color: white;
  font-size: 25px;
}