language: node_js

node_js:
  - 'node'

sudo: false

env:
  global:
    # GITHUB_TOKEN (deploy to github pages)
    - secure: SGmI2gSHYSL7iM9KIWYsOdZ3iS0KpVxXsJsTaobEvvY6n0tpDM6BVlatrDSggQjX/YT4V6vz14Fv3SXLaL/eZGQ3K0gOK7NMv7kkg4pEkLwVMjUe4DvSyLOp2GDDfQR3SKXy/+5iRHIX+gLf2QJMlK2T92cyftt3DgnBiZPke7LUa9roMP1jPaWacRwgu3TNEmd7wQ7sdf8QZNWhQDxIUQNjnQDrdXyta6ist4smzK3BNCdJh8NpsxK9gdi2Y3tvRlvfYAE70kkadIPwc/pZpZPxMaX2U3Ac4z7Dgjbv3gCGNt9kKZ4iBnRAzZ+gaQAkYV1v7AURT2Ccm2sPGD0yQX5ZUAqI+wWrjZdK52j6rI01A+0WsYxZYO5k+dGVUkBbPXJE93WFmaA1YDZ6G0ijojanMINwYKiPVfipZPe/aeD1/uxUFLRjx4n3aEe3GmJRkcbU6maX5dk7hVD+XLLQ7dUuBOdcrOuJNYtDXmbUeLFzHZLMOVc8fzyhrbKgVujgSTXn7X+Xn51fANUBKlbbTSJ7xWday7w/Ni3tuPm92HZTT3/Nnuc4uIiLHVIRJjZQ/9MYltDRn4uzcPBXzyYM+daMiD3b3Sza9PbDfdnyGr2bg6xNR0GOeV5YoSjOa+Kkc2EszNs5s6t9CjVki+h/G4ljAq5sep8fFhRusPJ/15w=

branches:
  only:
  - master
  - "/v\\d\\./"

matrix:
  include:
  - env: SCRIPT=lint
  - env: SCRIPT=test
  - env: E2E:web=true
    addons:
      sauce_connect: true

cache:
  directories:
  - node_modules

script:
  - if [ "$SCRIPT" ]; then npm run $SCRIPT; fi
  - if [ "E2E:web" && SAUCE_ACCESS_KEY ]; then npm run $SCRIPT; fi
  - if [ "$E2E:web" ] && [ "$SAUCE_ACCESS_KEY" ]; then npm run build:web && sleep 10 && npm run e2e:web:ci; fi

after_success:
  - ./scripts/deploy-to-gh-pages-ci.sh
