language: node_js
node_js:
- node
sudo: true
dist: trusty
env:
  global:
  # GITHUB_TOKEN (deploy to github pages)
  - secure: SGmI2gSHYSL7iM9KIWYsOdZ3iS0KpVxXsJsTaobEvvY6n0tpDM6BVlatrDSggQjX/YT4V6vz14Fv3SXLaL/eZGQ3K0gOK7NMv7kkg4pEkLwVMjUe4DvSyLOp2GDDfQR3SKXy/+5iRHIX+gLf2QJMlK2T92cyftt3DgnBiZPke7LUa9roMP1jPaWacRwgu3TNEmd7wQ7sdf8QZNWhQDxIUQNjnQDrdXyta6ist4smzK3BNCdJh8NpsxK9gdi2Y3tvRlvfYAE70kkadIPwc/pZpZPxMaX2U3Ac4z7Dgjbv3gCGNt9kKZ4iBnRAzZ+gaQAkYV1v7AURT2Ccm2sPGD0yQX5ZUAqI+wWrjZdK52j6rI01A+0WsYxZYO5k+dGVUkBbPXJE93WFmaA1YDZ6G0ijojanMINwYKiPVfipZPe/aeD1/uxUFLRjx4n3aEe3GmJRkcbU6maX5dk7hVD+XLLQ7dUuBOdcrOuJNYtDXmbUeLFzHZLMOVc8fzyhrbKgVujgSTXn7X+Xn51fANUBKlbbTSJ7xWday7w/Ni3tuPm92HZTT3/Nnuc4uIiLHVIRJjZQ/9MYltDRn4uzcPBXzyYM+daMiD3b3Sza9PbDfdnyGr2bg6xNR0GOeV5YoSjOa+Kkc2EszNs5s6t9CjVki+h/G4ljAq5sep8fFhRusPJ/15w=
branches:
  only:
  - master
  - "/v\\d\\./"
  - "/^greenkeeper-.*$/"
matrix:
- env: SCRIPT=lint
- env: SCRIPT=test
- env: E2Eweb=true
before_install:
- export CHROME_BIN=/usr/bin/google-chrome
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sudo apt-get update
- sudo apt-get install -y libappindicator1 fonts-liberation
- wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
- sudo dpkg -i google-chrome*.deb
cache:
  directories:
  - node_modules
script:
- if [ "$SCRIPT" ]; then npm run $SCRIPT; fi
- if [ "$E2Eweb" ]; then ./scripts/e2e-web-travis.sh; fi
after_success:
- "./scripts/deployToGhPagesCi.sh"
deploy:
  matrix:
  - provider: heroku
    app: memory-n-back-staging
  - provider: heroku
    app: memory-n-back
    on:
      tags: true
      all_branches: true
  api_key:
    # heroku api key
    secure: OwqgiIYmgg88izpJsXqKfoQy8EcM+bCvQmuXMJPZUQGzM0fBOOoE/XbkdAj+sL5Fp95ffQ30H6pNktkgtFpEalrx5EzT/wih5hIRiflUanOMhpC1BYByk2a/riUtNGniBQbeL+u/bAqsuUcwrVEaky+94KbDcBD9JWBvkpytzY1cxw5E4/UJWki59r0MbZFbRoL6zpW5ZC4hV9yyrPqQsCoDExZNxG6lfM5MHvh2eGiJWlbBMK5JxE9F3zHw1uKltkeCu0BXz4gjEw1l8cPXrVJLvVqkw7Y7OznQByYLMzr4czlBQ/572pKNr29PSaAGK+OyR2GKCkpLynh6AOApni3GR/1T9RZ1lIaN4ySfBsNBSuPr9wogv1yEG/2Z1Zrf0BFrfwJoXyA+aYkIzFBXaz5hQMPxKQ+FX4tsG2n6CuGJ+Bu93KHEaz4thBPDJPIDn+0YfigcYEb4t252yZdh+6452dZABmMg6nNPhzpgoeXckuVMODHag74PaxkEA3ZAC0tRECqtTED5WDGM9utNnAwFkq8VHiMyoR4kpiyDf2ZKEeVvWSPbLvPCd8YQeycrswFATHrFf+LrlecbD2SeFdt7E1m1YaG2NXAzuboqkjzREpDy7tfebMVuWQPqvNrmPkdyjaM5Q2O1EeT+teMLkBXsY/EgzlO5/UpDRYx+dEU=
