* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'sans-serif';
}

.container {
  margin: 100px auto 0;
  width: 380px;
  border: 1px solid gray;
}

a {
  text-decoration: none;
  cursor: pointer;
}