.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
}

.control {
  width: 50%;
}


.gameOverOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
}

.gameOverHeadline {
  color: red;
  font-size: 55;
}

.gameOverText {
  color: white;
  font-size: 39;
}

.gameOverControls {
  display: flex;
  flex-direction: row;
}

.gameOverControl {
  width: 150;
  margin-right: 5;
  margin-top: 5;
  height: 60;
  font-size: 25;
  text-align: center;
  padding: 10;
  background-color: gray;
  color: black;
}

.strong {
  font-weight: bold;
}
