.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
}

.header {
  flex: 0.2;
  display: flex;
  text-align: center;
  font-size: 40px;
  background-color: gray;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home {
  position: absolute;
  left: 5px;
  color: #eee;
  font-size: 30px;
  top: 5px;
}

.headerPauseResumeIcon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  color: #fff;
}

.gameOverAudio {
  display: flex;
  justify-content: space-between;
}

.loseReason {
  font-size: 20px;
  color: red;
}

.controls {
  display: flex;
  flex: 0.2;
  flex-direction: row;
}

.control {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: green;
  padding: 10px;
}

.control:nth-child(n+2) {
  margin-left: 1px;
}

.controlIcon {
  font-size: 45px;
  color: white;
}

.gameOverMode {
  float: right;
}

.gameOverControls {
  display: flex;
  flex-direction: row;
}

.gameOverControl {
  font-size: 25px;
  flex: 1;
  justify-content: center;
  padding: 10px;
  background-color: gray;
  color: black;
  display: flex;
  align-items: center;
  height: 45px;
  cursor: pointer;
}

.gameOverControl:first-child {
  margin-right: 2px;
}

.strong {
  font-weight: bold;
}
