.container {
  background: #fff;
  padding: 20px;
}

.leadContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.backIcon {
  font-size: 24px;
  margin-right: 10px;
}

.lead {
  font-size: 18px;
}

:global .kep-login-facebook {
  width: 100%;
  margin-bottom: 20px;
}

.or {
  text-align: center;
}

.toggleMode {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 20px;
}

.toggleMode:hover {
  text-decoration: none;
}

.formControl {
  font-size: 18px;
  margin-bottom: 10px;
}

.formControl label {
  display: block;
  margin-bottom: 5px;
}

.formControl input {
  display: block;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #d3cfcf;
  box-shadow: none;
}

.error {
  color: red;
  font-size: 12px;
}

.actions {
  margin-top: 30px;
}

.actions button {
  border: 1px solid rgb(30, 30, 30);
  background: rgb(0, 100, 255);
  color: #fff;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  cursor: pointer;
  transition: .5s;
}

.actions button:hover {
  background: #fff;
  color: rgb(0, 100, 255);
}
